
@{
    ViewBag.Title = "LoggedIn";
}

@*@if (Session["id"] != null)
{
    <h3> Hello @Session["UserName"].ToString()</h3>
    
}*@
<div class="form-group">
    <div class="col-md-offset-2 col-md-2">
        <label class="label-danger">@ViewBag.DuplicateMessage</label>
    </div>
</div>